<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to Music Academy</h1>

  <h2>
  Browse through the courses now!
  </h2>

  <%= link_to "Sign up now as student!", student_signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up now as tutor!", tutor_signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("guitar.png", alt: "Guitar photo"),
            'http://rubyonrails.org/' %>

<%= link_to "new video", videos_new_path , class: "btn btn-lg btn-primary"%>
<%= link_to "videos", videos_path , class: "btn btn-lg btn-primary"%>