<% provide(:title, 'Home') %>

<% if student? && current_user.courses.any? %>

  <div class="row mb-3" id="welcome-back">

    <div class="col-md-6">

      <h2 class="welcome-back-message text-left">
        <% if current_user.lesson_id.nil? %>
          Start on your newest course
        <% else %>
          Pick up where you left off
        <% end %>
      </h2>

      <% if current_user.lesson_id.nil? %>
        <% lesson = @courses_student.first.lessons.first %>
      <% else %>
        <% lesson = Lesson.find(current_user.lesson_id) %>
      <% end %>

      <div class="welcome-back-card card bg-dark text-white shadow-sm">
        <% if lesson.course.image.attached? %>
          <%= image_tag url_for(lesson.course.image), alt: 'course-image', class: 'card-img' %>
        <% else %>
          <%= image_tag 'course_bg.jpg', alt: 'course-image-default', class: 'card-img' %>
        <% end %>
        <div class="card-img-overlay">
            <h5 class="card-title mb-1">
              <strong><%= link_to lesson.course.title, course_path(lesson.course, lesson_page: lesson.position), class: 'stretched-link' %></strong>
            </h5>
            <small class="card-subtitle mt-1"><i>by <%= lesson.course.tutor.name %></i></small>
            <h2 class="text-light mt-3"><%= lesson.name %></h2>
        </div>
      </div>

    </div>

  </div>

<% end %>

<% if !student? && @courses_beginners.any? %>
  <%= render 'courses/collection', heading: 'Courses for Beginners', courses: @courses_beginners %>
<% end %>

<% if student? && @courses_student.any? %>
  <%= render 'courses/collection', heading: 'Your Most Recent Enrollments', courses: @courses_student %>
<% elsif student? && @courses_student.count <= 0 %>
  <%= render 'courses/collection', heading: 'Courses to Get You Started', courses: @courses_beginners %>
<% end %>

<% if student? && @courses_recommend.any? %>
  <%= render 'courses/collection', heading: 'Recommended Courses for You', courses: @courses_recommend %>
<% end %>

<% if @courses_hot.any? %>
  <%= render 'courses/collection', heading: 'What Students are Looking at Right Now', courses: @courses_hot %>
<% end %>

<% if @tutors.any? %>

  <h3 class="home-tutors-heading mt-5">
    <strong>
      <%= link_to 'Some of Our Tutors', tutors_path %>
    </strong>
  </h3>

  <%= render 'tutors/collection', heading: '', tutors: @tutors %>

<% end %>

<h3 class="text-left mt-5 mb-3">
  <strong>
    Searching for an instrument?
  </strong>
</h3>

<% if @courses_instrument.any? %>
  <%= render 'courses/collection', heading: "#{@instrument} Courses", courses: @courses_instrument %>
<% end %>

<% if @courses_instrument_two.any? %>
  <%= render 'courses/collection', heading: "#{@instrument_two} Courses", courses: @courses_instrument_two %>
<% end %>

<h3 class="my-3">
  <strong>
    <%= link_to 'Check out more courses here!', courses_path, style: 'color: gray;' %>
  </strong>
</h3>

<% if logged_out? %>
  <div class="container my-5">
    <div class="home-signup row">
      <div class="signup-student col">
        <h2 class="my-5">
          Wish to start learning now?<br>
          <strong><%= link_to 'Sign up as a student.', signup_path(user_type: 'Student') %></strong>
        </h2>
      </div>
      <div class="divider"></div>
      <div class="signup-tutor col">
        <h2 class="my-5">
          Want to spread your musical knowledge?<br>
          <strong><%= link_to 'Sign up as a tutor.', signup_path(user_type: 'Tutor') %></strong>
        </h2>
      </div>
    </div>
  </div>
<% end %>
