<%= form_for(:session, url: login_path) do |f| %>

  <div class="form-group">
    <%= f.label :email %>
    <% if params[:action] == 'create' && params[:user_type] == 'Tutor' %>

      <% if params[:session][:email].blank? %>
        <%= f.email_field :email, class: 'form-control is-invalid' %>
        <div class="invalid-feedback d-block">
          can't be blank
        </div>
      <% elsif params[:error] == 'email/password' %>
        <% if @user %>
          <%= f.email_field :email, value: params[:session][:email], class: 'form-control is-valid' %>
          <div class="valid-feedback d-block">
            email verified
          </div>
        <% else %>
          <%= f.email_field :email, class: 'form-control is-invalid' %>
          <div class="invalid-feedback d-block">
            invalid email/password combination
          </div>
        <% end %>
      <% elsif params[:error] == 'unactivated' %>
        <%= f.email_field :email, class: 'form-control is-invalid' %>
        <div class="invalid-feedback d-block">
          account not activated, please check your email for the activation link
        </div>
      <% elsif params[:error] == 'provider account' %>
        <%= f.email_field :email, class: 'form-control is-invalid' %>
        <div class="invalid-feedback d-block">
          you have already used this email to sign up through Google
        </div>
      <% else %>
        <%= f.email_field :email, class: 'form-control' %>
      <% end %>

    <% else %>
      <%= f.email_field :email, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if params[:action] == 'create' && params[:user_type] == 'Tutor' %>

      <% if params[:session][:password].blank? %>
        <%= f.password_field :password, class: 'form-control is-invalid' %>
        <div class="invalid-feedback d-block">
          can't be blank
        </div>
      <% elsif params[:error] == 'email/password' %>
        <%= f.password_field :password, class: 'form-control is-invalid' %>
        <div class="invalid-feedback d-block">
          invalid email/password combination
        </div>
      <% else %>
        <%= f.password_field :password, class: 'form-control' %>
      <% end %>

    <% else %>
      <%= f.password_field :password, class: 'form-control' %>
    <% end %>
  </div>

  <div class="remember_me form-group">
    <%= f.check_box :remember_me, class: 'form-check-input' %>
    <%= f.label :remember_me, "Remember me on this computer", class: 'form-check-label ml-4' %>
  </div>

  <%= f.hidden_field :user_type, value: 'Tutor' %>

  <%= f.submit "Log In", data: { disable_with: 'Logging in...' }, class: 'btn btn-primary' %>

  or sign in with
  <%= link_to "Google", "auth/google_oauth2?user_type=Tutor" %>

  <section class="under-submit-text pt-3">
    <span class="pull-right">
      <%= link_to "Forgot your password?", new_password_reset_path %>
    </span>
  </section>

<% end %>
