<% provide(:title, "Forgot Password") %>
<% provide(:select_header, "I am a...") %>

<h1>Forgot Password</h1>

<div class="row">
  <div class="col-md-6 mx-auto">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>

      <%= render 'shared/student_tutor_select', f: f %>

      <%= f.label :email, "Please enter your email below to reset your password." %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
