<% provide(:title, @title) %>

<h1 class="tutors-page-heading text-left">
  Tutors at the Music Academy
</h1>

<%= render 'collection', heading: 'Popular Tutors', tutors: @tutors_popular %>

<% if @tutors_instrument.any? %>
  <%= render 'collection', heading: "Tutors Teaching the #{@instrument}", tutors: @tutors_instrument %>
<% end %>

<% if @tutors_instrument_two.any? %>
  <%= render 'collection', heading: "Tutors Teaching the #{@instrument_two}", tutors: @tutors_instrument_two %>
<% end %>

<div class="tutors-all row" id="tutors-all-section">
  <div class="col">

    <h3 class="tutors-heading text-left">
      Search for a Tutor
    </h3>

    <div class="row">

      <div class="col">
        <%= form_tag tutors_path(sort_by: params[:sort_by], anchor: 'tutors-all-section'), method: :get, class: 'search-bar my-2 my-lg-0' do %>
          <div class="input-group w-50">
            <%= text_field_tag :search, 
              params[:search], 
              placeholder: 'Search', 
              data: { behavior: 'autocomplete', 
                      controller: 'tutors', 
                      action: 'index' },
              class: 'form-control outline-secondary' %>
            <div class="input-group-append">
              <%= button_tag class: 'btn btn-outline-secondary' do %>
                <%= image_tag 'search.png' %>
              <% end %>
            </div>
          </div>
          <small><%= link_to 'clear search results', tutors_path(anchor: 'tutors-all-section'), class: 'search-clear ml-2', style: 'color:gray;' %></small>
        <% end %>
      </div>

      <div class="col">
        <%= render 'sort' %>
      </div>

    </div>

    <div id="tutors-all">
      <%= render 'tutors_all' %>
    </div>
    
  </div>
</div>
