
<li class="row">

  <div class="col-9">
    <% if notification.read %>

      <%= image_tag 'read.png' %>
      <% if notification.origin_type == 'Review' %>
        <%= link_to notification.content, course_path(notification.origin.course, anchor: 'reviews'), class: 'read' %>
      <% else %>
        <%= link_to notification.content, course_path(notification.lesson.course, lesson_page: notification.lesson.position, anchor: "forum"), class: 'read' %>
      <% end %>

    <% else %>

      <%= image_tag 'unread.png' %>
      <% if notification.origin_type == 'Review' %>
        <%= link_to notification.content, course_path(notification.origin.course, anchor: 'reviews'), class: 'unread' %>
      <% else %>
        <%= link_to notification.content, course_path(notification.lesson.course, lesson_page: notification.lesson.position, notified_id: notification.id, anchor: "forum"), class: 'unread' %> 
      <% end %>
    <% end %>
  </div>

  <div class="col-2">
    <% unless notification.read %>
      <% if tutor? %>
        <%= link_to 'mark as read', tutor_path(current_user, tab: 'notifications', mark_read: notification.id) %>
      <% else %>
        <%= link_to 'mark as read', student_path(current_user, tab: 'notifications', mark_read: notification.id) %>
      <% end %>
    <% end %>
  </div>

  <div class="col-1">
    <%= link_to 'clear', notification_path(notification, notification_id: notification.id), method: :delete %>
  </div>

</li>
