<div class="row user_profile">
  <div class="col">

    <% if params[:controller] == 'tutors' %>

      <span class="tutor-profile">

        <div class="tutor-gravatar-email row">
          <div class="col">
            <span class="tutor-gravatar"><%= gravatar_for @tutor %></span>
            <h2 class="tutor-email text-left"><%= @tutor.email %></h2>
          </div>
        </div>

        <!--User Info-->

        <% unless @tutor.qualification.blank? %>
          <div class="tutor-qualifiaction row">
            <div class="col-9">
              <h2 class="text-left"><%= @tutor.qualification %></h2>
            </div>
          </div>
        <% end %>

        <% unless @tutor.bio.blank? %>
          <div class="tutor-bio row">
            <div class="col-9">
              <h2 class="text-left"><%= @tutor.bio %></h2>
            </div>
          </div>
        <% end %>

        <h2 class="tutor-stats text-left">
          <%= @tutor.name %> has published
          <strong><%= @tutor.courses.count %></strong> 
          courses, and has a total of
          <%= pluralize(@tutor.students_unique.count, "student") %>.
        </h2>

      </span>

    <% elsif params[:controller] == 'students' %>

      <span class="student-profile">

        <div class="student-gravatar-email row">
          <div class="col">
            <span class="student-gravatar"><%= gravatar_for @student %></span>
            <h2 class="student-email text-left"><%= @student.email %></h2>
          </div>
        </div>

        <!--User Info-->

        <h2 class="student-stats text-left">
          <% if current_user?(@student) %>
            You are
          <% else %>
            <%= @student.name %> is
          <% end %>
          taking 
          <%= pluralize(@student.courses.count, "course") %>.
        </h2>

      </span>

    <% end %>

  </div>
</div>
