<% provide(:title, @title) %>

<h1><strong><%= @title %></strong></h1>

<%= render 'shared/user_profile' %>

<div class="row">
  <div class="col">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">

        <% if @title.include?('My') %>
          <% courses_header = 'My Courses' %>
        <% else %>
          <% courses_header = "#{@student.name}'s Courses" if @student %>
          <% courses_header = "#{@tutor.name}'s Courses" if @tutor %>
        <% end %>

        <% if params[:tab] == 'notifications' %>
          <a class="nav-link" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="true"><%= courses_header %></a>
        <% else %>
          <a class="nav-link active" id="courses-tab" data-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="true"><%= courses_header %></a>
        <% end %>

      </li>

      <% if @title.include? 'My' %>
        <li class="nav-item">

          <% if params[:tab] == 'notifications' %>
            <a class="nav-link active" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">
              Notifications
              <% if current_user.notifications_unread.any? %>
                <span class="badge badge-pill badge-primary"><%= current_user.notifications_unread.count %></span>
              <% else %>
                <span class="badge badge-pill badge-secondary">0</span>
              <% end %>
            </a>
          <% else %>
            <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="false">
              Notifications
              <% if current_user.notifications_unread.any? %>
                <span class="badge badge-pill badge-primary"><%= current_user.notifications_unread.count %></span>
              <% else %>
                <span class="badge badge-pill badge-secondary">0</span>
              <% end %>
            </a>
          <% end %>

        </li>
      <% end %>

    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="tab-content" id="myTabContent">

      <% if params[:tab] == 'notifications' %>
        <div class="tab-pane fade show" id="courses" role="tabpanel" aria-labelledby="courses-tab">
        <% else %>
          <div class="tab-pane fade show active" id="courses" role="tabpanel" aria-labelledby="courses-tab">
          <% end %>

          <div class="row justify-content-center pt-3">
            <div class="col-md-12">

              <% if tutor? %>
                <%= link_to 'Create a New Course', new_course_path(back_to: params[:action]), class: 'btn btn-primary btn-lg btn-course-new' %>
              <% end %>

              <% if @courses.any? %>

                <div class="row">

                  <% if @student %>

                    <div class="col">
                      <%= render 'students/courses_sort' %>
                    </div>
                    <div class="col">
                      <%= form_tag student_path(@student, anchor: 'courses-tab'), method: :get, class: 'search-bar, float-right' do %>
                        <%= text_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control' %>
                      <% end %>
                    </div>

                  <% elsif @tutor %>

                    <div class="col">
                      <%= render 'tutors/courses_sort' %>
                    </div>
                    <div class="col">
                      <%= form_tag tutor_path(@tutor, anchor: 'courses-tab'), method: :get, class: 'search-bar float-right' do %>
                        <%= text_field_tag :search, params[:search], placeholder: 'Search', class: 'form-control' %>
                      <% end %>
                    </div>

                  <% end %>

                </div>

                <div class="row"><%= render @courses %></div>

              <% else %>

                <h3 class="course-index-none">
                  <strong>No courses found...</strong>
                </h3>

              <% end %>

            </div>
          </div>

          </div>

          <% if @title.include? 'My' %>

            <% if params[:tab] == 'notifications' %>
              <div class="tab-pane fade show  active" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
              <% else %>
                <div class="tab-pane fade show" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
                <% end %>

                <div class="notifications">
                  <% if @notifications.any? %>
                    <h2 class="clear text-left">
                      <%= link_to 'Clear All Notifications', notifications_clear_path, method: :delete, class: 'btn btn-link' %>
                    </h2>
                    <ol class="">
                      <%= render @notifications %>
                    </ol>
                  <% else %>
                    <h2 class="clear text-left">
                      <a href="#", class="btn btn-link disabled", role="button" aria-disabled="true">Clear All Notifications</a>
                    </h2>
                    <ol>
                      <li>No Notifications</li>
                    </ol>
                  <% end %>
                </div>

                </div>

              </div>
            <% end %>

        </div>
    </div>
