<%= form_for(user, url: url_path) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <% if logged_in? %>
    <div class="gravatar_edit">
      <%= gravatar_for user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">change</a>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password, yield(:label_prefix) + "Password" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, yield(:label_prefix) + "Password Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
