<li id="lesson-<%= lesson.id %>">

  <% if lesson.video.attached? %>
    <span class="video">
      <%= video_tag url_for(lesson.video), 
        size: "1024x576", 
        controls: :controls %>
    </span>
  <% end %>

  <span class="name">Lesson: <%= lesson.name %></span>
  <span class="description"><%= lesson.description %></span>
  <span class="lesson-resources">
    <strong>Resources</strong><br>
    <%= render 'lessons/resources', lesson: lesson %>
  </span>

  <span class="edit-buttons">
  <% if tutor? && current_user?(@course.tutor) %>
    <%= 
      link_to "Edit Lesson", 
        edit_lesson_path(course_id: @course.id, 
                         lesson_id: lesson.id,
                         edit_from: "_lesson",
                         page: params[:page]),
        class: 'btn btn-default btn-lesson-edit' 
    %>
  <% end %>
  </span>
</li>
