<li id="lesson-<%= lesson.id %>">

  <% exclusivity_check = subscribing?(@course) || course_owner?(@course) %>

  <% if exclusivity_check %>
    <% if lesson.video.attached? %>
      <span class="video">
        <%= video_tag url_for(lesson.video), size: "1024x576", controls: :controls %>
      </span>
    <% end %>
  <% elsif !subscribing?(@course) %>
    <div class="center jumbotron">
      <div class="container video-blocker">
        <h3><strong>Interested in this course?</strong></h3>
        <h2>Please purchase it to unlock its lessons.</h2>
      </div>
    </div>
  <% end %>

  <span class="name">Lesson: <%= lesson.name %></span>

  <% if exclusivity_check %>

    <span class="description"><%= lesson.description %></span>
    <span class="lesson-resources">
      <strong>Resources</strong><br>
      <%= render 'lessons/resources', lesson: lesson %>
    </span>

    <% if course_owner?(@course) %>
      <span class="edit-buttons">
        <%= 
          link_to "Edit Lesson", 
            edit_lesson_path(course_id: @course.id, 
                             lesson_id: lesson.id, 
                             edit_from: "_lesson", 
                             page: params[:page]), 
            class: 'btn btn-default btn-lesson-edit' 
          %>
      </span>
    <% end %>
  <% end %>
</li>
