<li id="lesson-<%= lesson.id %>">

  <% exclusivity_check = subscribing?(@course) || course_owner?(@course) %>

  <% if subscribing?(@course) %>
    <% find_subscription(current_user, @course).update_left_off(params[:page]) %>
  <% end %>

  <!--Lesson Video-->
  <% if exclusivity_check && lesson.video.attached? %>
    <!--Subscribed/Course Owner-->
    <div align="center" class="embed-responsive embed-responsive-16by9">
      <video controls class="embed-responsive-item video">
        <source src="<%= url_for(lesson.video) %>">
      </video>
    </div>
  <% else %>
    <div class="center jumbotron">
      <div class="container video-blocker">
        <% if exclusivity_check %>
          <!--Video Not Present-->
          <h3><strong>No video was prepared for this lesson.</strong></h3>
        <% else %>
          <!--Video Blocked-->
          <h3><strong>Interested in this course?</strong></h3>
          <h2>
            Please 
            <%= link_to "purchase", subscribe_path(course_id: @course.id) %>
            it to unlock its lessons.
          </h2>
        <% end %>
      </div>
    </div>
  <% end %>

  <span class="name">Lesson: <%= lesson.name %></span>

  <% if exclusivity_check %>

    <span class="description"><%= lesson.description %></span>
    <span class="lesson-resources">
      <strong>Resources</strong><br>
      <%= render 'lessons/resources', lesson: lesson %>
    </span>

  <% end %>

</li>
