<%= form_for(@lesson, url: yield(:url_path)) do |f| %>
  <%= render 'shared/error_messages', object: @lesson %>

  <!--Video-->
  <section class="video">
    <% if @lesson.video.attached? %>
      <!--Video display-->
      <div><%= video_tag url_for(@lesson.video),
        size: "436x240",
        controls: :controls %></div>
      <!--Video deletion link-->
      <div><i><%= link_to "(delete and upload another video)", 
        delete_video_lesson_path(@lesson.video.id, lesson_id: @lesson.id), 
        method: :delete, 
        data: { confirm: "Are you sure? This action is irreversible." } 
        %></i></div>
    <% else %>
      <!--Video upload button-->
      <%= f.label :video %>
      <%= f.file_field :video, accept: 'video/mp4 video/wmv', class: 'form-control' %>
    <% end %>
  </section>

  <%= f.label :name, "Lesson Name" %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :description, "Lesson Description" %>
  <%= f.text_area :description, class: 'form-control' %>

  <%= f.label :resources, "Lesson Resources" %>
  <%= render 'lessons/resources', lesson: @lesson %>
  <%= 
    f.file_field :resources,
      multiple: true, 
      accept: 'attachment/pdf image/png image/jpeg audio/mp3 audio/wav',
      class: 'form-control'
    %>

  <section class="">
    <%= f.button yield(:submit_text), type: :submit, class: 'btn btn-primary btn-submit' %>
  </section>

  <!--Back Button-->
  <section class="">
    <!--Set back_path based on params-->
    <% if params[:back_to] == '_lesson' %>
      <!--Go back to Lesson-->
      <%= 
        link_to "Back to Lesson", 
          course_path(@course, page: params[:page]),
          class: "btn btn-default btn-back"
        %>
    <% elsif params[:back_to] == 'edit' %>
      <!--Go back to Course Edit-->
      <%= 
        link_to "Back to Course Edit", 
          edit_course_path(@course, course_id: @course.id),
          class: "btn btn-default btn-back"
        %>
    <% elsif params[:back_to] == 'show' %>
      <!-- Go back to Course-->
      <%= 
        link_to "Back to Course", 
          course_path(@course, page: params[:page]), 
          class: "btn btn-default btn-back" %>
    <% end %>
  </section>

  <!--Delete Lesson Button-->
  <% if params[:action] == 'edit' %>
    <div class="lesson-delete">
      <h3><strong>Warning</strong></h3>
      <h2>
        Press the button below to
        <strong>delete this lesson</strong>.
      </h2>
      <section class="btn-lesson-delete">
        <%= 
          link_to "Delete Lesson", 
            lessons_delete_path(course_id: @course.id, 
                                lesson_id: @lesson.id,
                                back_to: params[:back_to],
                                page: params[:page]), 
            class: 'btn btn-default btn-lesson-delete' 
          %>
      </section>
    </div>
  <% end %>

  <%= hidden_field_tag :course_id, @course.id %>
  <%= hidden_field_tag :back_to, params[:back_to] %>
  <%= hidden_field_tag :page, params[:page] %>

<% end %>
