<%= form_for(@lesson, url: yield(:url_path)) do |f| %>
  <%= render 'shared/error_messages', object: @lesson %>

  <!--Video-->
  <section class="">
    <% if @lesson.video.attached? %>
      <!--Video display-->
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <video controls class="embed-responsive-item video">
          <source src="<%=url_for(@lesson.video) %>">
        </video>
      </div>
      <!--Video deletion link-->
      <div class="video-delete"><i><%= link_to "(delete and upload another video)", 
        delete_video_lesson_path(@lesson.video.id, lesson_id: @lesson.id), 
        method: :delete, 
        data: { confirm: "Are you sure? This action is irreversible." } 
        %></i></div>
    <% else %>
      <!--Video upload button-->
      <%= f.label :video %>
      <%= f.file_field :video, accept: 'video/mp4 video/wmv', direct_upload: true, class: 'form-control-file' %>
    <% end %>
  </section>

  <%= f.label :name, "Lesson Name" %>
  <%= f.text_field :name, required: "required", class: 'form-control' %>

  <%= f.label :description, "Lesson Description" %>
  <%= f.text_area :description, required: "required", class: 'form-control' %>

  <%= f.label :resources, "Lesson Resources" %>
  <%= render 'lessons/resources', lesson: @lesson %>
  <%= 
    f.file_field :resources,
      multiple: true, 
      accept: 'attachment/pdf image/png image/jpeg audio/mp3 audio/wav',
      direct_upload: true,
      class: 'form-control-file'
    %>

  <%= hidden_field_tag :course_id, @course.id %>

  <section class="btn-submit">
    <%= f.button yield(:submit_text), type: :submit, class: 'btn btn-primary mt-3' %>
  </section>

  <!--Back Button-->
  <section class="">
    <%= 
      link_to "Back to Course Edit", 
        edit_course_path(@course, course_id: @course.id),
        class: "btn btn-default btn-back"
      %>
  </section>

  <!--Delete Lesson Button-->
  <% if params[:action] == 'edit' || params[:action] == 'update' %>
    <div class="lesson-delete">
      <h3><strong>Warning</strong></h3>
      <h2>
        Press the button below to
        <strong>delete this lesson</strong>.
      </h2>
      <section class="btn-lesson-delete">
        <%= 
          link_to "Delete Lesson", 
            lessons_delete_path(course_id: @course.id, 
                                lesson_id: @lesson.id,
                                back_to: params[:back_to],
                                page: params[:page]), 
            class: 'btn btn-danger btn-lesson-delete' 
          %>
      </section>
    </div>
  <% end %>

<% end %>
