<li id="lesson-<%= lesson.id %>">

  <% if lesson.video.attached? %>
    <span class="video">
      <%= video_tag url_for(lesson.video), 
        size: "1024x576", 
        controls: :controls %>
    </span>
  <% end %>

  <span class="name">Lesson: <%= lesson.name %></span>
  <span class="description"><%= lesson.description %></span>
  <% if tutor? && current_user?(@course.tutor) %>
    <%= 
      link_to "Edit", 
        edit_lesson_path(course_id: @course.id, 
                         lesson_id: lesson.id), 
        class: 'btn btn-default btn-lesson-edit' 
    %>
    <%=
      link_to "Delete",
        lessons_delete_path(course_id: @course.id, 
                            lesson_id: lesson.id),
        class: 'btn btn-default btn-lesson-delete'
    %>
<% end %>
</li>
