<%= form_for(@lesson, url: yield(:url_path)) do |f| %>
  <%= render 'shared/error_messages', object: @lesson %>

  <!--Video-->
  <section>
    <% if @lesson.video.attached? && !@lesson.video.id.nil? %>
      <!--Video display-->
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <video controls controlslist="nodownload" oncontextmenu="return false" onselectstart="return false" ondragstart="return false" class="embed-responsive-item video">
          <source src="<%=url_for(@lesson.video) %>">
        </video>
      </div>
      <!--Video deletion link-->
      <div class="video-delete"><i><%= link_to "(delete and upload another video)", 
        delete_video_lesson_path(@lesson.video.id, lesson_id: @lesson.id), 
        method: :delete, 
        data: { confirm: "Are you sure? This action is irreversible." } 
        %></i></div>
    <% else %>

      <!--Video upload button-->
      <div class="form-group">
        <%= f.label :video, for: 'videoFile' %>
        <%= f.file_field :video, accept: 'video/mp4 video/wmv', direct_upload: true, class: 'form-control-file', id: 'videoFile' %>
        <% if f.object.errors.any? && f.object.errors.include?(:video) %>
          <div class="invalid-feedback d-block">
            <%= f.object.errors.messages[:video].join(", ") %>
          </div>
        <% elsif @lesson.video.attached? && f.object.errors.any? && !f.object.errors.include?(:video) %>
          <div class="invalid-feedback d-block">
            upload cancelled due to other errors in this form, please re-upload video
          </div>
        <% end %>
      </div>

    <% end %>
  </section>

  <div class="form-group">
    <%= f.label :name, "Lesson Name" %>
    <% if f.object.errors.any? && f.object.errors.include?(:name) %>
      <%= f.text_field :name, class: 'form-control is-invalid' %>
      <div class="invalid-feedback d-block">
        <%= f.object.errors.messages[:name].join(", ") %>
      </div>
    <% elsif params[:action] == 'create' && f.object.errors.any? && f.object.errors.include?(:name) %>
      <%= f.text_field :name, class: 'form-control is-valid' %>
      <div class="valid-feedback d-block">
        Looks good!
      </div>
    <% else %>
      <%= f.text_field :name, class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :description, "Lesson Description" %>
    <% if f.object.errors.any? && f.object.errors.include?(:description) %>
      <%= f.text_field :description, required: "required", class: 'form-control is-invalid' %>
      <div class="invalid-feedback d-block">
        <%= f.object.errors.messages[:description].join(", ") %>
      </div>
    <% elsif params[:action] == 'create' && f.object.errors.any? && f.object.errors.include?(:description) %>
      <%= f.text_field :description, required: "required", class: 'form-control is-valid' %>
      <div class="valid-feedback d-block">
        Looks good!
      </div>
    <% else %>
      <%= f.text_field :description, required: "required", class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :resources, "Lesson Resources" %>
    <%= render 'lessons/resources', lesson: @lesson %>
    <%= 
      f.file_field :resources,
        multiple: true, 
        accept: 'attachment/pdf image/png image/jpeg audio/mp3 audio/wav',
        direct_upload: true,
        class: 'form-control-file'
      %>
    <% if f.object.errors.any? && f.object.errors.include?(:resources) %>
      <div class="invalid-feedback d-block">
        <ul>
          <% f.object.errors.messages[:resources].each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% elsif @lesson.resources.attached? && f.object.errors.any? && !f.object.errors.include?(:resources) %>
      <div class="invalid-feedback d-block">
        upload cancelled due to other errors in this form, please re-upload resources
      </div>
    <% end %>
</div>

<%= hidden_field_tag :course_id, @course.id %>

<section class="btn-submit">
  <%= f.button yield(:submit_text), type: :submit, class: 'btn btn-primary mt-3' %>
</section>

<!--Back Button-->
<section class="">
  <%= 
    link_to "Back to Course Edit", 
      edit_course_path(@course, course_id: @course.id),
      class: "btn btn-secondary btn-back"
    %>
</section>

<!--Delete Lesson Button-->
<% if current_user.admin? %>
  <% if params[:action] == 'edit' || params[:action] == 'update' %>
    <div class="lesson-delete">
      <h3><strong>Warning</strong></h3>
      <h2>
        Press the button below to
        <strong>delete this lesson</strong>.
      </h2>
      <section class="btn-lesson-delete">
        <%= 
          link_to "Delete Lesson", 
            lessons_delete_path(course_id: @course.id, 
                                lesson_id: @lesson.id,
                                back_to: params[:back_to],
                                page: params[:page]), 
            class: 'btn btn-danger btn-lesson-delete' 
          %>
    </section>
    </div>
  <% end %>
<% end %>

<% end %>
