<tr>

  <td>
    <!--Image-->
    <% if course.image.attached? %>
      <%= image_tag course.image.variant(resize: "100x100") %>
    <% end %>
    <!--Title-->
    <% if @student && left_off = find_left_off(@student, course).left_off %>
      <%= link_to "#{course.title}", course_path(course, page: left_off, student_id: @student.id) %>
    <% elsif @student %>
      <% subscription = find_left_off(@student, course) %>
      <% subscription.update_attribute(:left_off, 1)%>
      <%= link_to "#{course.title}", course_path(course, page: subscription.left_off, student_id: @student.id) %>
    <% else %>
      <%= link_to "#{course.title}", course_path(course) %>
    <% end %>
  </td>

  <!--Lessons-->
  <td><%= link_to pluralize(course.lessons.count, "lesson"), course_path(course) %></td>

  <!--Tutor-->
  <td>
    <%= gravatar_for course.tutor, size: 40 %>
    <%= link_to "#{course.tutor.name}", tutor_path(course.tutor) %>
  </td>

  <% unless tutor? %>
    <td><%= render 'courses/subscribe_form', course: course %></td>
  <% end %>

</tr>
