<div class="course-card col-md-6 col-lg-3 my-3 p5">
  <div class="card height-10">
    <% if course.image.attached? %>
      <%= image_tag course.image.variant(resize: "100x100"), class: 'card-img-top' %>
    <% else %>
      <%= image_tag 'course_image.jpg', class: 'card-img-top' %>
    <% end %>
    <div class="centered text-light">
      <%= course.title %>
    </div>
    <div class="card-body p-3">

      <h5 class="card-title text-capitalize mb-1">
        <strong><%= link_to course.title, course_path(course) %></strong>
      </h5>

      <span class="rating">
        <%= render 'reviews/rating', rating: course.rating %>
        <% unless course.reviews.any? %>
          <small><i>(no reviews yet)</i></small>
        <% end %>
      </span>

      <section class="card-subtitle ">
        <i><%= pluralize(course.students.count, 'student') %></i><br>
      </section>

      <% if course_owner?(course) %>

        <% unread_number = find_unread_from_course(course) %>
        <% if unread_number > 0 %>
          <span class="badge badge-primary"><%= pluralize(unread_number, 'message') %></span>
        <% end %>

        <% if params[:action] == 'index' %>
          <p class="badge badge-success">published by you</p>
        <% end %>

      <% else %>

        <% if subscribing?(course) && course.id != current_user.pending_course %>

          <p class="badge badge-success">joined</p>
          <% if current_user.review_for(course) %>
            <span class="badge badge-success">reviewed</span>
          <% end %>

        <% else %>

          <!-- Subscribe Button -->
          <% if student? %>
            <%=
              link_to "Join now for #{number_to_currency(course.price)}!",
                subscribe_path(course_id: course.id), class: 'btn btn-secondary btn-sm'
              %>
          <% end %>

        <% end %>

      <% end %>
    </div>
    <div class="card-footer bg-light d-flex justify-content-start">
      <p class="text-center text-small">Tutor: <%= link_to course.tutor.name, tutor_path(course.tutor) %></p>
    </div>
  </div>
</div>
