<div class="course-card col-md-6 col-lg-3 my-3 p5">
  <div class="card height-10 shadow">

    <!--Image Banner-->
    <% if course.image.attached? %>
      <%= image_tag course.image, class: 'card-img-top img-fluid' %>
    <% else %>
      <%= image_tag 'course_image.jpg', class: 'card-img-top' %>
      <div class="centered text-light">
        <%= truncate(course.title, length: 50) %>
      </div>
    <% end %>

    <!--Badges-->

    <% if course_owner?(course) %>

      <% unread_number = find_unread_from_course(course) %>

      <% if unread_number > 0 || params[:action] == 'index' %>

        <span class="badges">

          <!--Unread Messages for Tutors-->
          <% if unread_number > 0 %>
            <span class="badge badge-primary"><%= pluralize(unread_number, 'message') %></span>
          <% end %>

          <!--Published by Current User-->
          <% if params[:action] == 'index' %>
            <p class="badge badge-success">published by you</p>
          <% end %>

        </span>

      <% end %>

    <% else %>

      <% if subscribing?(course) && course.id != current_user.pending_course %>

        <span class="badges">

          <!--Joined and Reviewed-->
          <p class="badge badge-success">joined</p>
          <% if current_user.review_for(course) %>
            <span class="badge badge-success">reviewed</span>
          <% end %>

        </span>

      <% end %>

    <% end %>

    <div class="card-body p-3">

      <!--Title-->
      <h5 class="title card-title text-capitalize mb-1">
        <strong><%= link_to truncate(course.title, length: 50), course_path(course), class: 'stretched-link' %></strong>
      </h5>

      <small class="tutor">
        <i><%= course.tutor.name %></i>
      </small>

      <!--Price-->
      <h3 class="price float-right">
        <%= number_to_currency(course.price) %>
      </h3>

      <!--Rating-->
      <span class="rating">
        <%= render 'reviews/rating', rating: course.rating %>
        <% unless course.reviews.any? %>
          <small><i>(no reviews yet)</i></small>
        <% end %>
      </span>

      <!--Students-->
      <span class="students card-subtitle ">
        <%= pluralize(course.students.count, 'student') %>
      </span>

    </div>

    <% if params[:action] == 'show' %>

        <% if params[:controller] == 'tutors' && current_user?(@tutor) %>

          <div class="card-footer">
            <small>published on <%= course.created_at.strftime("%d/%m/%y") %></small>
          </div>

        <% elsif params[:controller] == 'students' && current_user?(@student) %>

          <div class="card-footer">
            <small>enrolled on <%= find_subscription(@student, course).created_at.strftime("%d/%m/%Y") %></small>
          </div>

        <% end %>

    <% end %>

  </div>
</div>
