<%= form_for(@course, url: yield(:url_path)) do |f| %>
  <%= render 'shared/error_messages', object: @course %>

  <div class="form-group">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title, required: "required", class: 'form-control' %>
  </div>

  <%= f.label :price %>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
    </div>
    <%= f.number_field :price, step: 0.01, required: "required", class: 'form-control' %>
  </div>

  <!--Image-->
  <section class="image">
    <% if @course.image.attached? %>

      <!--Image display-->
      <div><%= image_tag url_for(@course.image) %></div>

      <!--Image deletion link-->
      <div><i><%= link_to "(delete and upload another image)",
                          delete_image_course_path(@course.image.id, course_id: @course.id),
                          method: :delete,
                          data: {confirm: "Are you sure?"}
      %></i></div>

    <% else %>
      <!--Image upload button-->
      <div class="form-group">
        <%= f.label :image, for: 'exampleFormControlFile1' %>
        <%=
          f.file_field :image,
                       accept: 'image/png, image/jpeg, image/gif',
                       direct_upload: true,
                       class: 'form-control-file',
                       id: 'exampleFormControlFile1'
        %>
      </div>
    <% end %>
  </section>

  <div class="form-group">
    <%= f.label :content, "Description" %>
    <%= f.text_area :content, rows: 15, required: "required", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, "Give your course some tags!" %>
    <section>
      Please insert 1 comma between each tag. Example:<br>
      <i>piano, drums grade 3, clarinet</i>
    </section>
    <%= f.text_area :tag_list, class: 'form-control' %>
  </div>

  <%= f.button yield(:button_text), type: :submit, class: "btn btn-primary" %>

  <!--Back Button for Course Creation-->
  <% if params[:back_to] %>
    <% if params[:back_to] == 'show' %>
      <div class="row">
        <div class="col pt-3">
          <%=
            link_to "Back to My Profile",
                    @course.tutor,
                    class: "btn btn-secondary btn-sm"
          %>
        </div>
      </div>
    <% elsif params[:back_to] == 'courses' %>
      <div class="row">
        <div class="col pt-3">
          <%=
            link_to "Back to My Courses",
                    courses_tutor_path(@course.tutor),
                    class: "btn btn-secondary btn-back"
          %>
        </div>
      </div>
    <% end %>
  <% end %>

  <!--Actions below only available for Course Edit-->
  <% if params[:action] == 'edit' || params[:action] == 'update' %>

    <!--Lessons-->
    <section class="lessons-header">
      <h3>
        <strong>Lessons</strong>
      </h3>
      <h2>
        <strong>Drag</strong> lessons to re-order them,
        or <strong>click</strong> to edit individual lessons.<br>
        Re-ordering is saved automatically.
      </h2>
    </section>
    <section class="lessons-list">
      <%= render 'lessons/edit_list' %>
    </section>

    <!--Back Button-->
    <section class="">
      <%=
        link_to "Back to Course",
                course_path(@course, page: params[:page]),
                class: "btn btn-default btn-back"
      %>
    </section>

    <!--Delete Course button-->
    <% if current_user.admin? %>
      <div class="course-delete">
        <h3><strong>Warning</strong></h3>
        <h2>
          Press the button below to <strong>delete this course.</strong><br>
          <%=
            link_to "Delete Course",
                    courses_delete_path(@course, course_id: @course.id),
                    class: "btn btn-danger mt-3"
          %>
        </h2>
      </div>
    <% end %>
  <% end %>
<% end %>


