<%= form_for(@course, url: yield(:url_path)) do |f| %>
  <%= render 'shared/error_messages' , object: @course %>

  <%= f.label :title, "Course Title" %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :content, "Course Description" %>
  <%= f.text_area :content, class: 'form-control' %>

  <!--Image-->
  <section class="image">
    <% if @course.image.attached? %>
      <!--Image display-->
      <div><%= image_tag url_for(@course.image) %></div>
      <!--Image deletion link-->
      <div><i><%= link_to "(delete and upload another image)",
        delete_image_course_path(@course.image.id, course_id: @course.id),
        method: :delete,
        data: { confirm: "Are you sure?" }
        %></i></div>
    <% else %>
      <!--Image upload button-->
      <%= f.label :image %>
      <%= 
        f.file_field :image, 
          accept: 'image/png, image/jpeg, image/gif', 
          class: 'form-control' 
        %>
    <% end %>
  </section>

  <%= f.label :price %>
  <%= f.number_field :price, step: 0.01, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

  <!--Delete Course button-->
  <% if tutor? && current_user?(@course.tutor) %>
    <div class="course-delete">
      Press the button below to <strong>delete this course.</strong><br>
      <%= 
        link_to "Delete Course", 
          courses_delete_path(@course, course_id: @course.id), 
          class: "btn btn-default btn-course-delete" 
        %>
  </div>
<% end %>
<% end %>


