<tr>

  <td>
    <!--Image-->
    <% if course.image.attached? %>
      <%= image_tag course.image.variant(resize: "100x100") %>
    <% end %>
    <!--Title-->
    <% left_off_page = 
      @student && @student.subscribing?(course) ? 
      find_subscription(@student, course).left_off : 
      1 %>
    <%= link_to "#{course.title}", course_path(course, page: left_off_page) %>
  </td>

  <!--Lessons-->
  <td><%= link_to pluralize(course.lessons.count, "lesson"), course_path(course) %></td>

  <!--Tutor-->
  <td>
    <%= gravatar_for course.tutor, size: 40 %>
    <%= link_to "#{course.tutor.name}", tutor_path(course.tutor) %>
  </td>

  <% unless tutor? %>
    <td><%= render 'courses/subscribe_form', course: course %></td>
  <% end %>

</tr>
