<%= form_for(@course, url: yield(:url_path)) do |f| %>
  <%= render 'shared/error_messages', object: @course %>

  <% if params[:action] == 'edit' || params[:action] == 'update' %>
    <div class="course-card-preview row">
      <%= render 'courses/course', course: @course %>
    </div>
  <% end %>

  <!--Image-->
  <section class="image">
    <% if @course.image.attached? && !@course.image.id.nil? %>

      <%= f.label :image do %>
        Banner Image <i>(please choose a landscape image)</i>
      <% end %>

      <!--Image display-->
      <div><%= image_tag url_for(@course.image), height: "100%", width: "100%" %></div>

      <!--Image deletion link-->
      <div><i><%= link_to "(delete and upload another image)",
        delete_image_course_path(@course.image.id, course_id: @course.id),
        method: :delete,
        data: {confirm: "Are you sure?"}
        %></i></div>

    <% else %>

      <!--Image upload button-->
      <div class="form-group">

        <%= f.label :image, for: 'imageFile' do %>
          Banner Image <i>(please choose a landscape image)</i>
        <% end %>

        <!--Display default image-->
        <div class="mb-2"><%= image_tag 'course_bg.jpg', height: "100%", width: "100%" %></div>

        <%= f.file_field :image, accept: 'image/png, image/jpeg, image/gif', direct_upload: true, class: 'form-control-file', id: "imageFile" %>

        <% if f.object.errors.any? && f.object.errors.include?(:image) %>
          <div class="invalid-feedback d-block">
            <%= f.object.errors.messages[:image].join(", ") %>
          </div>
        <% elsif f.object.errors.any? && !f.object.errors.include?(:image) %>
          <div class="invalid-feedback d-block">
            upload cancelled due to other errors in this form, please re-upload image
          </div>
        <% end %>

      </div>

    <% end %>
  </section>

  <div class="form-group">
    <%= f.label :title %>
    <% if f.object.errors.any? && f.object.errors.include?(:title) %>
      <%= f.text_field :title, required: "required", class: 'form-control is-invalid' %>
      <div class="invalid-feedback d-block">
        <%= f.object.errors.messages[:title].join(", ") %>
      </div>
    <% elsif params[:action] == 'create' && f.object.errors.any? && !f.object.errors.include?(:title) %>
      <%= f.text_field :title, required: "required", class: 'form-control is-valid' %>
      <div class="valid-feedback d-block">
        Looks good!
      </div>
    <% else %>
      <%= f.text_field :title, required: "required", class: 'form-control' %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <% if f.object.errors.any? && f.object.errors.include?(:price) %>
        <%= f.number_field :price, step: 0.01, required: "required", class: 'form-control is-invalid' %>
        <div class="invalid-feedback d-block">
          <%= f.object.errors.messages[:price].join(", ") %>
        </div>
      <% elsif params[:action] == 'create' && f.object.errors.any? && !f.object.errors.include?(:price) %>
        <%= f.number_field :price, step: 0.01, required: "required", class: 'form-control is-valid' %>
        <div class="valid-feedback d-block">
          Looks good!
        </div>
      <% else %>
        <%= f.number_field :price, step: 0.01, required: "required", class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="form-group">

    <%= f.label :content, "Course Description" %>
    <% placeholder = "Provide some details about your course, such as the instruments involved, the number of lessons, and why it's a great course to take!" %>
    <% if f.object.errors.any? && f.object.errors.include?(:content) %>
      <%= f.text_area :content, rows: 15, placeholder: placeholder, class: 'form-control is-invalid' %>
      <div class="invalid-feedback d-block">
        <%= f.object.errors.messages[:content].join(", ") %>
      </div>
    <% elsif params[:action] == 'create' && f.object.errors.any? && !f.object.errors.include?(:content) %>
      <%= f.text_area :content, rows: 15, placeholder: placeholder, class: 'form-control is-valid' %>
      <div class="valid-feedback d-block">
        Looks good!
      </div>
    <% else %>
      <%= f.text_area :content, rows: 15, placeholder: placeholder, class: 'form-control' %>
    <% end %>

  </div>

  <div class="form-group">

    <%= f.label :target, "Who is this course for?" %>
    <% placeholder = "Music hobbyists? Serious students? Let people know who this course is for, and how difficult it might be." %>
    <% if f.object.errors.any? && f.object.errors.include?(:target) %>
      <%= f.text_area :target, rows: 5, placeholder: placeholder, class: 'form-control is-invalid' %>
      <div class="invalid-feedback d-block">
        <%= f.object.errors.messages[:target].join(", ") %>
      </div>
    <% elsif params[:action] == 'create' && f.object.errors.any? && !f.object.errors.include?(:target) %>
      <%= f.text_area :target, rows: 5, placeholder: placeholder, class: 'form-control is-valid' %>
      <div class="valid-feedback d-block">
        Looks good!
      </div>
    <% else %>
      <%= f.text_area :target, rows: 5, placeholder: placeholder, class: 'form-control' %>
    <% end %>

  </div>

  <div class="form-group">

    <%= f.label :prerequisites, "Prerequisites to Taking this Course" %>
    <% placeholder = "What instruments will your students need? How much time must they invest? Feel free to list any other requirements your course might need." %>
    <% if f.object.errors.any? && f.object.errors.include?(:prerequisites) %>
      <%= f.text_area :prerequisites, rows: 5, placeholder: placeholder, class: 'form-control is-invalid' %>
      <div class="invalid-feedback d-block">
        <%= f.object.errors.messages[:prerequisites].join(", ") %>
      </div>
    <% elsif params[:action] == 'create' && f.object.errors.any? && !f.object.errors.include?(:prerequisites) %>
      <%= f.text_area :prerequisites, rows: 5, placeholder: placeholder, class: 'form-control is-valid' %>
      <div class="valid-feedback d-block">
        Looks good!
      </div>
    <% else %>
      <%= f.text_area :prerequisites, rows: 5, placeholder: placeholder, class: 'form-control' %>
    <% end %>

  </div>

  <div class="form-group">

    <%= f.label :language, "Course Language" %>
    <% if f.object.errors.any? && f.object.errors.include?(:language) %>
      <%= f.text_field :language, max: 200, required: "required", class: 'form-control is-invalid' %>
      <div class="invalid-feedback d-block">
        <%= f.object.errors.messages[:language].join(", ") %>
      </div>
    <% elsif params[:action] == 'create' && f.object.errors.any? && !f.object.errors.include?(:language) %>
      <%= f.text_field :language, max: 200, required: "required", class: 'form-control is-valid' %>
      <div class="valid-feedback d-block">
        Looks good!
      </div>
    <% else %>
      <%= f.text_field :language, max: 200, required: "required", class: 'form-control' %>
    <% end %>

  </div>

  <div class="form-group">
    <%= f.label :tag_list do %>
      Tags<br>
      <span class="text-left tags-explanation">
        Please insert 1 comma between each tag:
        <i>piano, drums grade 3, clarinet</i>
      </span>
    <% end %>
    <%= f.text_area :tag_list, class: 'form-control' %>
  </div>

  <%= f.button yield(:button_text), type: :submit, data: { disable_with: "Saving..." }, class: "btn btn-primary" %>

  <!--Back Button for Course Creation-->
  <% if params[:back_to] %>
    <% if params[:back_to] == 'show' %>
      <div class="row">
        <div class="col pt-3">
          <%=
            link_to "Back to My Profile",
              @course.tutor,
              class: "btn btn-secondary btn-sm"
            %>
      </div>
      </div>
    <% elsif params[:back_to] == 'courses' %>
      <div class="row">
        <div class="col pt-3">
          <%=
            link_to "Back to My Courses",
              courses_tutor_path(@course.tutor),
              class: "btn btn-secondary btn-back"
            %>
      </div>
      </div>
    <% end %>
  <% end %>

  <!--Actions below only available for Course Edit-->
  <% if params[:action] == 'edit' || params[:action] == 'update' %>

    <!--Lessons-->
    <section class="lessons-header">
      <h3>
        <strong>Lessons</strong>
      </h3>
      <h2>
        <strong>Drag</strong> lessons to re-order them,
        or <strong>click</strong> to edit individual lessons.<br>
        Re-ordering is saved automatically.
      </h2>
    </section>
    <section class="lessons-list">
      <%= render 'lessons/edit_list' %>
    </section>

    <!--Back Button-->
    <section>
      <%=
        link_to "Back to Course",
          course_path(@course, page: params[:page]),
          class: "btn btn-secondary btn-back"
        %>
  </section>

  <!--Delete Course button-->
  <% if current_user.admin? %>
    <div class="course-delete">
      <h3><strong>Warning</strong></h3>
      <h2>
        Press the button below to <strong>delete this course.</strong><br>
        <%=
          link_to "Delete Course",
            courses_delete_path(@course, course_id: @course.id),
            class: "btn btn-danger mt-3"
          %>
    </h2>
    </div>
  <% end %>
<% end %>
<% end %>


