<% if @lessons.any? %>

  <% exclusivity_check = subscribing?(@course) || course_owner?(@course) %>

  <% if subscribing?(@course) %>
    <% find_subscription(current_user, @course).update_left_off(@lesson.position) %>
  <% end %>

  <!--Lessons exist-->
  <div class="row no-gutter">
    <div class="col-md-3 pr-0">
      <ul class="list-group height-80 border border-secondary border-right-0 list-group-flush">
        <% @lessons.each do |lesson| %>
          <li class="list-group-item"><%=
            link_to lesson.name,
                    course_path(@course, lesson_page: lesson.position),
                    class: 'nav-link text-dark'
          %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-9 border border-secondary p-0 m-0">
      <!--Lesson Video-->
      <% if exclusivity_check && @lesson.video.attached? %>
        <!--Subscribed/Course Owner-->
        <div class="embed-responsive embed-responsive-16by9 height-80">
          <video controls class="embed-responsive-item bg-dark">
            <source src="<%= url_for(@lesson.video) %>">
          </video>
        </div>
      <% else %>
        <% if exclusivity_check %>
          <!--Video Not Present-->
          <h3><strong>No video was prepared for this lesson.</strong></h3>
        <% else %>
          <!--Video Blocked-->
          <h3><strong>Interested in this course?</strong></h3>
          <h2>
            Please
            <%= link_to "purchase", subscribe_path(course_id: @course.id) %>
            it to unlock its lessons.
          </h2>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row ">
    <div class="col">
      <h3 class="pt-3"> <%= @lesson.name %></h3>

      <% if exclusivity_check %>

        <span class="description"><%= @lesson.description %></span>
        <span class="m-2">
        <strong>Resources</strong><br>
          <%= render 'lessons/resources', lesson: @lesson %>
      </span>

      <% end %>
    </div>
  </div>

  <!-- Forum -->
  <div class="row pl-3">
    <h4>Discussions</h4>
  </div>

  <% @lesson.messages.each do |message| %>
    <div class="row pl-3">
      <p><%= message.content %></p>
    </div>
  <% end %>
  <div class="row pl-3">
    <p id="message_content"></p>
  </div>

  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      comment
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <%= form_for(@message, url: messages_path, remote: true) do |f| %>

        <div class="form-group">
          <%= f.text_field :content, placeholder: 'Add a comment...', class: 'form-control' %>
        </div>

        <%= hidden_field_tag :lesson_id, @lesson.id %>
        <%= hidden_field_tag :course_id, @course.id %>

        <%= f.submit "Comment", class: 'btn btn-primary ' %>

      <% end %>
    </div>
  </div>
  <!-- end of forum -->

<% else %>

  <!--No Lessons currently exist-->

  <div class="center jumbotron">
    <h3><b>This course currently has no lessons.</b></h3>
  </div>

<% end %>