<!--Title-->
<div class="row">
  <div class="col">
    <h1>
      <%= @course.title %>
    </h1>
  </div>
</div>

<!--Enroll/Quit Button-->
<% unless course_owner?(@course) %>
  <div class="row justify-content-center">
    <%= render 'courses/subscribe_form', course: @course %>
  </div>
<% end %>

<!--Edit Course Button-->
<% if tutor? && (current_user?(@tutor) || current_user.admin?) %>
  <div class="row">
    <div class="col">
      <%=
        link_to "Edit Course",
          edit_course_path(@course,
                           course_id: @course.id,
                           page: params[:page]),
          class: 'btn btn-secondary'
        %>
  </div>
  </div>
<% end %>

<!--Course Content-->
<div class="row">
  <div class="col">
    <h2 class="content mt-2">
      <%= @course.content %>
    </h2>
  </div>
</div>

<!--Tags-->
<div class="tags row justify-content-start">
  <div class="col-10">
    <h6 class="tags-header text-left">Tags for this Course</h6>
    <%= render @tags %>
  </div>
</div>

<!--Tutor-->
<div class="row tutor">
  <div class="col">
    <h2 class="tutor-header text-left">About the Tutor</h2>
    <div class="row">
      <div class="tutor-stats col-2">
        <%= link_to gravatar_for(@tutor, size: 80), @tutor, class: 'tutor-gravatar' %>
        
        <span class="tutor-rating text-left">
          <%= image_tag "tutor-rating.png" %>
          <strong><%= @tutor.rating %></strong> tutor rating
        </span>
        
        <span class="tutor-students text-left">
          <%= image_tag "tutor-students.png" %>
          <strong><%= @tutor.students_unique.count %></strong> students
        </span>

        <span class="tutor-courses text-left">
          <%= image_tag "tutor-courses.png" %>
          <strong><%= @tutor.courses.count %></strong> courses
        </span>

      </div>
      <div class="col-7">
        <h2 class="tutor-name text-left">
          <strong><%= link_to @tutor.name, @tutor %></strong>
        </h2>
        <% if @tutor.bio.blank? %>
          <h2 class="tutor-bio text-left"><i>no information provided</i></h2>
        <% else %>
          <h2 class="tutor-bio text-left"><%= @tutor.bio %></h2>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--Reviews-->
<div class="container reviews-section" id="reviews">

  <div class="row reviews-header">
    <h3>
      <strong>Reviews (<%= @course.reviews.count %>)</strong>
    </h3>
  </div>

  <div class="row">
    <h2>
      <strong>Course Rating: <%= render 'reviews/rating', rating: @course.rating %></strong>
    </h2>
  </div>

  <ol class="reviews">

    <!--Current User's Review-->
    <% if @review %>
      <!--no review written yet-->
      <h3>Write a Review</h3>
      <%= render 'reviews/review_form', review: @review %>
      <!--review already written-->
    <% elsif @curr_review %>
      <h3>Your Review</h3>
      <span id="current_user_review">
        <% if params[:review_edit] %>
          <%= render 'reviews/review_form', review: @curr_review %>
        <% else %>
          <li>
            <div class="row">
              <div class="col review">
                <span class="rating">
                  <%= render 'reviews/rating', rating: @curr_review.rating %>
                </span>
                <span class="content"><%= @curr_review.content %></span>
                <section>
                  <span class="timestamp"><%= time_ago_in_words(@curr_review.created_at) %> ago</span>
                  <span class="edit">
                    <%= link_to "click here to edit review", course_path(@course, anchor: "reviews", review_edit: 'edit') %>
                </span>
              </div>
            </div>
          </li>
        <% end %>
      </span>
    <% end %>

    <!--All Reviews-->
    <% if @course.reviews.any? %>
      <li><%= render 'reviews/sort' %></li>
      <%= render @reviews %>
    <% end %>

  </ol>

</div>
<!--end of reviews-->
