<div class="course-index">

  <!--Page Header Title-->
  <h1 class="course-index-title">
    <% if params[:search] %>
      <strong>Search:</strong> 
      <span class="search-term">"<%= params[:search] %>"</span>
    <% elsif !@title.include?('Home') %>
      <strong><%= @title %></strong>
    <% end %>
  </h1>

  <% if @title == 'Home' %>
    <!--Home Page-->
    <%= render 'static_pages/home' %>
    <h3 class="pull-left">
      <strong>A Random Selection of Ten Courses...</strong>
    </h3>

  <% elsif @title.include?('Profile') %>
    <!--Student/Tutor Profile-->
    <%= render 'shared/user_profile' %>

  <% else %>
    <!--All Courses Page-->
    <% provide(:title, "Courses") %>
  <% end %>

  <!--New Course Button-->
  <% if tutor? && @title.include?('My') %>
    <% back_to = params[:action] %>
    <%= 
      link_to "Create a New Course", 
        new_course_path(back_to: back_to),
        class: 'btn btn-primary btn-lg btn-course-new' 
      %>
  <% end %>

  <!--Courses-->
  <% if @courses.any? %>

    <% if @title.include?('All Courses') || @title.include?('Search:') %>
      <%= render 'shared/sort_courses' %>
    <% end %>

    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col"></th>
          <th scope="col">Tutor</th>
        </tr>
      </thead>
      <tbody>
        <%= render @courses %>
      </tbody>
    </table>
    <% if params[:action] != 'home' %>
      <%= will_paginate @courses, class: "pagination" %>
    <% end %> 

  <% else %>

    <h3 class="course-index-none">
      <strong>No courses found...</strong>
    </h3>

  <% end %>

</div>
