<!--All Courses Page-->
<% provide(:title, "Courses") %>

<!--Page Header Title-->
<% if params[:search] %>
  <h1 class="course-index-title">
    <strong>Search:</strong>
    <span class="search-term">"<%= params[:search] %>"</span>
  </h1>
<% else %>
  <h1>
    <strong><%= @title %></strong>
  </h1>
<% end %>

<!--Search Bar-->
<%= form_tag courses_path, method: :get, class: 'search-bar my-2 my-lg-0 w-100' do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search for a course...', class: 'form-control w-50 mx-auto' %>
<% end %>

<% if params[:search] %>
  <h3 class="text-left">
    <strong>Results:</strong>
  </h3>
<% end %>

<!--Courses-->
<% if @courses.any? %>

  <%= render 'shared/sort_courses' %>

  <div class="row">
    <%= render @courses %>
  </div>

  <%= will_paginate @courses, class: "pagination" %>

<% else %>

  <h3 class="mt-4 course-index-none">
    <strong>No courses found...</strong>
  </h3>

<% end %>
