<!--All Courses Page-->
<% provide(:title, @title) %>

<!--Page Header Title-->
<h1 class="course-index-title">
  <strong><%= @title %></strong>
</h1>

<!--Search Bar-->
<%= form_tag courses_path(sort_by: params[:sort_by]), method: :get, class: 'search-bar my-2 my-lg-0 w-100' do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search for a course...', class: 'form-control w-50 mx-auto' %>
<% end %>

<% if params[:search] %>
  <h3 class="text-left">
    <strong>Results:</strong>
  </h3>
<% end %>

<!--Courses-->
<% if @courses.any? %>

  <div class="row">
    <div class="col">
  <%= render 'shared/sort_courses' %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="row">
      <%= render @courses %>
    </div>
    <div class="row">
      <div class="col-auto">
        <%= will_paginate @courses, class: "pagination" %>
      </div>
    </div>
  </div>

<% else %>

  <h3 class="mt-4 course-index-none">
    <strong>No courses found...</strong>
  </h3>

<% end %>
