
    <!--Page Header Title-->
    <% if params[:search] %>
      <h1 class="course-index-title">
        <strong>Search:</strong>
        <span class="search-term">"<%= params[:search] %>"</span>
      </h1>
    <% elsif !@title.include?('Home') %>
      <h1>
        <strong><%= @title %></strong>
      </h1>
    <% end %>

    <% if @title == 'Home' %>
      <!--Home Page-->
      <%= render 'static_pages/home' %>
      <h3 class="pull-left">
        <strong>A Random Selection of Eight Courses...</strong>
      </h3>

    <% elsif @title.include?('Profile') %>
      <!--Student/Tutor Profile-->
      <%= render 'shared/user_profile' %>

    <% else %>
      <!--All Courses Page-->
      <% provide(:title, "Courses") %>
    <% end %>

    <!--New Course Button-->
    <% if tutor? && @title.include?('My') %>
      <% back_to = params[:action] %>
      <%=
        link_to "Create a New Course",
                new_course_path(back_to: back_to),
                class: 'btn btn-primary btn-lg btn-course-new'
      %>
    <% end %>

    <!--Courses-->
    <% if @courses.any? %>

      <% if @title.include?('All Courses') || @title.include?('Search:') %>
        <%= render 'shared/sort_courses' %>
      <% end %>
      <% if tutor? && params[:controller].eql?('tutors') %>
        <div class="row">
          <%= render @courses, show_unread: true %>
        </div>
      <% else %>
        <div class="row">
          <%= render @courses %>
        </div>
      <% end %>
      <% if params[:action] != 'home' %>
        <%= will_paginate @courses, class: "pagination" %>
      <% end %>

    <% else %>

      <h3 class="course-index-none">
        <strong>No courses found...</strong>
      </h3>

    <% end %>