<!--All Courses Page-->
<% provide(:title, @title) %>

<!--Page Header Title-->
<h1 class="course-index-title text-left">
  Courses at the Music Academy
</h1>

<% if @courses_trending.any? %>
  <%= render 'collection', heading: 'Trending Courses this Week', courses: @courses_trending %>
<% end %>

<% if @courses_popular.any? %>
  <%= render 'collection', heading: 'Popular Courses Among Students', courses: @courses_popular %>
<% end %>

<% if @courses_new.any? %>
  <%= render 'collection', heading: 'Freshly Published Courses', courses: @courses_new %>
<% end %>

<div class="courses-all row" id="courses-all-section">
  <div class="col">

    <h3 class="courses-heading text-left">
      Search for a Course
    </h3>

    <div class="row">

      <div class="col">

        <!--Search Bar-->
        <%= form_with url: courses_path(sort_by: params[:sort_by], anchor: 'courses-all-section'), local: true, method: :get, html: { class: 'search-bar my-2 my-lg-0 w-50' } do |form| %>
          <div class="input-group">
            <%= form.text_field :search, value: params[:search], placeholder: 'Search', data: { behavior: 'autocomplete', controller: 'courses', action: 'index' }, class: 'form-control' %>
            <div class="input-group-append">
              <%= button_tag class: 'btn btn-outline-secondary' do %>
                <%= image_tag 'search.png' %>
              <% end %>
            </div>
          </div>
          <small><%= link_to 'clear search results', courses_path(anchor: 'courses-all-section'), class: 'search-clear ml-2', style: 'color:gray;' %></small>
        <% end %>

      </div>

      <div class="col">
        <%= render 'shared/sort_courses' %>
      </div>

    </div>

    <div id="courses-all">
      <%= render 'courses_all' %>
    </div>

  </div>
</div>
