
<!--Page Header Title-->
<% if params[:search] %>
  <h1 class="course-index-title">
    <strong>Search:</strong>
    <span class="search-term">"<%= params[:search] %>"</span>
  </h1>
<% else %>
  <h1>
    <strong><%= @title %></strong>
  </h1>
<% end %>

<!--All Courses Page-->
<% provide(:title, "Courses") %>

<!--Courses-->
<% if @courses.any? %>

  <%= render 'shared/sort_courses' %>

  <div class="row">
    <%= render @courses %>
  </div>

  <%= will_paginate @courses, class: "pagination" %>

<% else %>

  <h3 class="course-index-none">
    <strong>No courses found...</strong>
  </h3>

<% end %>
