<% provide(:title, "New Course") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1> Create a New Course </h1>

    <%= form_for(@course) do |f| %>
      <%= render 'shared/error_messages' , object: @course %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content, "Description" %>
      <%= f.text_area :content, class: 'form-control' %>

      <%= f.label :image %>
      <%= f.file_field :image, direct_upload: true %>

      <%= f.label :price %>
      <%= f.number_field :price, step: 0.01, class: 'form-control' %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
