<h1> Create a New Course </h1>

<%= form_for(@course) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>

  <%= f.submit "Create", class: "btn btn-primary" %>

<% end %>
