<% unless index == count %>
  <div class="">

    <!--Post-->
    <div id="post-<%= post.id %>" class="post row pl-3 align-items-center pb-2">

      <% if logged_in? && current_user.notifications.where("origin_type = ? AND origin_id = ?", 'Post', post.id).any? %>
        <div class="post-new col-auto"><%= image_tag 'unread.png' %></div>
      <% end %>

      <div class="col-auto post-gravatar">
        <%= gravatar_for(post.sender, size: 40) %>
      </div>

      <div class="row ml-3 my-0">
        <div class="col-auto">

          <div class="row post-content">
            <div class="col-auto">
              <%= post.content %>
            </div>
          </div>

          <% if logged_in? && (current_user?(post.sender) || current_user.admin?) %>
            <div class="row post-delete">
              <div class="col-auto">
                <small><i><%= link_to "delete", post_path(post), method: :delete, lesson_id: lesson.id, course_id: course.id %></i></small>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>

    <!--Messages-->
    <% if post.messages %>
      <% post.messages.each do |message| %>
        <div id="message-<%= message.id %>" class="message row pl-4 ml-1 pb-2 align-items-center">

          <% if logged_in? && current_user.notifications.where("origin_type = ? AND origin_id = ?", 'Message', message.id).any? %>
            <div class="message-new col-auto"><%= image_tag 'unread.png' %></div>
          <% end %>

          <div class="col-auto message-gravatar">
            <%= gravatar_for(message.sender, size: 40) %>
          </div>

          <div class="row ml-3 my-0">
            <div class="col-auto">

              <div class="row message-content">
                <div class="col-auto">
                  <%= message.content %>
                </div>
              </div>

              <% if logged_in? && (current_user?(message.sender) || current_user.admin?) %>
                <div class="row message-delete">
                  <div class="col-auto">
                    <small><i><%= link_to "delete", message_path(message), method: :delete %></i></small>
                  </div>
                </div>
              <% end %>

            </div>
          </div>

        </div>
      <% end %>
    <% end %>

    <!--Reply Button & Field-->

    <p class="">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#post<%= index.to_s %>" aria-expanded="false" aria-controls="post<%= index.to_s %>">
      Reply to this question
    </button>
    </p>

    <div class="collapse" id="post<%= index.to_s %>">
      <div class="card card-body">
        <%= form_for(:message, url: messages_path, method: :post) do |f| %>

          <div class="form-group">
            <%= f.text_field :content, placeholder: 'Type your reply here...', class: 'form-control' %>
          </div>

          <%= hidden_field_tag :lesson_id, lesson.id %>
          <%= hidden_field_tag :course_id, course.id %>
          <%= hidden_field_tag :post_id, post.id %>

          <%= f.submit "Reply", class: 'btn btn-primary' %>

        <% end %>
      </div>
    </div>

  </div>
  <hr class="my-4">
<% end %>
