<%= render 'reports/form_review', title: "Report Review by #{review.student.name}", origin: review %>

<li id="review-<%= review.id %>">

  <div class="row">

    <div class="col-sm-3 student">
      <span class="gravatar">
        <%= link_to gravatar_for(review.student, size: 60), review.student %>
      </span>
      <span class="name">
        <%= link_to review.student.name, review.student %>
      </span>
    </div>

    <div class="col-md-9 review">
      <span class="rating">
        <%= render 'reviews/rating', rating: review.rating %>
      </span>
      <span class="content"><%= review.content %></span>
      <span class="timestamp">
        <%= time_ago_in_words(review.created_at) %> ago
      </span>

      <% if logged_in? && !current_user?(review.student) && !current_user.admin? %>
        <div class="row">
          <div class="col-auto">
            <small>
              <i>
                <a href="#reportReview" class="report" data-toggle="modal" data-target="#reportReview">report</a>
              </i>
            </small>
          </div>
        </div>
      <% end %>

      <% if logged_in? && current_user.admin? %>
        <span class="delete float-right">
          <%= link_to 'Delete Review', review_path(course_id: @course.id, review_id: review.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
      </span>
    <% end %>
    </div>

  </div>

</li>
