<%= form_for(@review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="rating">
    <%= f.number_field :rating, min: 1, max: 5, placeholder: "Rating (1 to 5 stars)", class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.text_area :content, placeholder: "Write your review here...", rows: 7, class: 'form-control' %>
  </div>

  <%= hidden_field_tag :course_id, @course.id %>

  <%= f.button "Post Review", type: :submit, class: 'btn btn-primary' %>

<% end %>
