<li class="review-form">
  <div class="row">
    <div class="col">
      <%= form_for(review, remote: true, html: { class: 'review-form' }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="rating">
          <% if f.object.errors.any? && f.object.errors.include?(:rating) %>
            <%= f.number_field :rating, min: 1, max: 5, placeholder: "Rating (1 to 5 stars)", required: "required", class: 'form-control is-invalid' %>
            <div class="invalid-feedback d-block">
              <%= f.object.errors.messages[:rating].join(", ") %>
            </div>
          <% elsif params[:review_edit].nil? && f.object.errors.any? && !f.object.errors.include?(:rating) %>
            <%= f.number_field :rating, min: 1, max: 5, placeholder: "Rating (1 to 5 stars)", required: "required", class: 'form-control is-valid' %>
            <div class="valid-feedback d-block">
              Looks good!
            </div>
          <% else %>
            <%= f.number_field :rating, min: 1, max: 5, placeholder: "Rating (1 to 5 stars)", required: "required", class: 'form-control' %>
          <% end %>
        </div>

        <div class="field">
          <% placeholder = "Describe what you liked or didn't like about this course." %>
          <% if f.object.errors.any? && f.object.errors.include?(:content) %>
            <%= f.text_area :content, placeholder: placeholder, rows: 7, class: 'form-control is-invalid' %>
            <div class="invalid-feedback d-block">
              <%= f.object.errors.messages[:content].join(", ") %>
            </div>
          <% elsif params[:review_edit].nil? && f.object.errors.any? && !f.object.errors.include?(:content) %>
            <%= f.text_area :content, placeholder: placeholder, rows: 7, class: 'form-control is-valid' %>
            <div class="valid-feedback d-block">
              Looks good!
            </div>
          <% else %>
            <%= f.text_area :content, placeholder: placeholder, rows: 7, class: 'form-control' %>
          <% end %>
        </div>

        <%= hidden_field_tag :course_id, @course.id %>
        <%= hidden_field_tag :sort_by, params[:sort_by] %>

        <% if params[:review_edit] %>
          <span class="edit-delete float-right">
            <%= f.button "Save Changes", type: :submit, data: { disable_with: 'Saving...' }, class: 'btn btn-primary' %>
            <%= link_to "Delete Review", review_path(course_id: @course.id, sort_by: params[:sort_by]), method: :delete, data: { confirm: "Are you sure?" }, remote: true, class: 'btn btn-danger' %>
          </span>
        <% else %>
          <%= f.button "Post Review", type: :submit, data: { disable_with: 'Posting...' }, class: 'btn btn-primary float-right' %>
        <% end %>

      <% end %>
    </div>
  </div>
</li>
