<% if yield(:title) == "Home" && !student? %>

  <div class="container-fluid home-bg">

    <div class="row mb-5">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light" id="home-nav">
          <%= render 'layouts/navbar' %>
        </nav>
      </div>
    </div>

    <div class="home-text row">
      <div class="col offset-md-1 mt-4">
        <h3 class="text-light text-left mb-2" style="margin-top:1%;">
          Welcome to
        </h3>
        <h1 class="text-light text-left">
          The Music Academy
        </h1>
        <%= form_tag courses_path, method: :get, class: 'home-search my-2 my-lg-0 w-100' do %>
          <%= text_field_tag :search, params[:search], placeholder: 'What would you like to learn?', class: 'form-control w-50' %>
        <% end %>
      </div>
    </div>

    <div class="home-features row h-50 align-items-end" style="margin-top:-1%;">
      <div class="col">
        <h2 class="text-light">
          <ul class="list-inline">
            <li class="list-inline-item">
              <strong>Hundreds of Courses</strong><br>
              <small>with a wide variety of instruments</small>
            </li>
            <li class="list-inline-item">
              <strong>Dozens of Experienced Tutors</strong><br>
              <small>from all around the globe</small>
            </li>
            <li class="list-inline-item">
              <strong>One Course, One Price</strong><br>
              <small>pay once to get it all</small>
            </li>
          </ul>
        </h2>
      </div>
    </div>

  </div>

<% elsif yield(:title) == 'Home' && student? %>

  <% if !current_user.courses.any? %>
  <div class="container-fluid home-student-bg" style="height:60vh;">
  <% else %>
  <div class="container-fluid home-student-bg" style="height:80vh;">
  <% end %>

    <div class="row mb-5">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-light" id="home-nav">
          <%= render 'layouts/navbar' %>
        </nav>
      </div>
    </div>

    <div class="home-text row">

      <div class="col offset-md-1 mt-5">

        <h1 class="text-light text-left mb-3" style="margin-top:2%;">
          <%= @greeting %>, <%= current_user.name %>!
        </h1>
        <h2 class="text-light text-left mb-4">
          Our <%= @greeting_language %> tutors say hello.
        </h2>
        <% placeholder = current_user.lesson_id.nil? ? 'What would you like to learn?' : 'Search for a course...' %>
        <%= form_tag courses_path, method: :get, class: 'home-search my-2 my-lg-0 w-100' do %>
          <%= text_field_tag :search, params[:search], placeholder: placeholder, class: 'form-control w-50' %>
        <% end %>

        <% if current_user.courses.any? %>

          <h2 class="text-light text-left mt-5 mb-3 mr-5">
            <% if current_user.lesson_id.nil? %>
              Start on your newest course
            <% else %>
              Pick up where you left off
            <% end %>
          </h2>

          <% if current_user.lesson_id.nil? %>
            <% lesson = @courses_student.first.lessons.first %>
          <% else %>
            <% lesson = Lesson.find(current_user.lesson_id) %>
          <% end %>

          <div class="card bg-dark text-white">
            <div class="row mr-1">
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title text-left">
                    <strong><%= link_to lesson.course.title, course_path(lesson.course, lesson_page: lesson.position), class: 'stretched-link' %></strong>
                  </h5>
                  <small class="card-subtitle"><i>by <%= lesson.course.tutor.name %></i></small>
                  <h2 class="text-light text-left mt-3"><%= lesson.name %></h2>
                </div>
              </div>
              <div class="col-md-5">
                <% if lesson.course.image.attached? %>
                  <%= image_tag url_for(lesson.course.image), alt: 'course-image', class: 'card-img' %>
                <% else %>
                  <%= image_tag 'course_bg.jpg', alt: 'course-image-default', class: 'card-img' %>
                <% end %>   
              </div>
            </div>
          </div>

        <% end %>

      </div>

    </div>

  </div>

<% else %>

  <div class="row">
    <div class="col pb-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
        <%= render 'layouts/navbar' %>
      </nav>
    </div>
  </div>

<% end %>
